<mat-card>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" placeholder="Price" />
        <mat-error *ngIf="productForm.get('price').invalid">
          Product price is required and must be not negative
        </mat-error>
      </mat-form-field>
  
      <!--<mat-form-field appearance="fill"> // dropdown menu to choose whether the ad is for a good or a service
        <mat-label>Good or service?</mat-label>
        <input matInput formControlName="productType" placeholder="Good or Service?" /> // copied from above
        <mat-select>
          <mat-option value="good">Good</mat-option>
          <mat-option value="service">Service</mat-option>
        </mat-select>
        <mat-hint align="end">Please choose</mat-hint>
      </mat-form-field>-->
  
      <!--<mat-form-field appearance="fill"> // dropdown menu for goods - should hide if product is a service
        <mat-label>Type</mat-label>
        <input matInput formControlName="purchaseType" placeholder="Buy or rent?" /> // copied from above
        <mat-select>
          <mat-option value="buy">Buy</mat-option>
          <mat-option value="rent">Rent</mat-option>
        </mat-select>
        <mat-hint align="end">Please choose</mat-hint>
      </mat-form-field>-->
  
      <mat-form-field appearance="fill"> // dropdown menu to choose whether the product to rent/service is currently available
        <mat-label>Currently available?</mat-label> // should hide if it's for a good to buy. Instead the number of available 
        <input matInput formControlName="availability" placeholder="Availability" /> // copied from above
        <mat-select> // instances of this product shall be displayed.
          <mat-option value="true">available</mat-option>
          <mat-option value="false">inavailable</mat-option>
        </mat-select>
        <mat-hint align="end">Please choose</mat-hint>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" placeholder="Product location" />
        <mat-error *ngIf="productForm.get('location').invalid">
          Product location is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill"> // dropdown menu to choose whether delivery is possible.
        <mat-label>Delivery?</mat-label> // should hide if it's for a service.
        <input matInput formControlName="delivery" placeholder="Delivery" /> // copied from above
        <mat-select>
          <mat-option value="true">Yes</mat-option>
          <mat-option value="false">No</mat-option>
        </mat-select>
        <mat-hint align="end">Please choose</mat-hint>
      </mat-form-field>
  
      <button type="submit" color="primary" mat-flat-button>Submit</button>
  
    </form>
  </mat-card>