.filter-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 56px;
}

.price-field {
  width: 90px;
  margin-right: 12px;
  margin-left: 12px;
}
.price {
  margin-right: auto;
  margin-left: auto;
}
