<mat-card>
  <h2>Filter</h2>
  <form [formGroup]="filterForm">
    <mat-form-field>
      <mat-label>Search for a Product / Service</mat-label>
      <input
        matInput
        class="form-control"
        type="text"
        name="search"
        [ngModel]="searchTerm"
        (ngModelChange)="searchTermChange.emit($event)"
        [ngModelOptions]="{ standalone: true }"
        autocomplete="off"
        placeholder="Search for a Product / Service"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="filter-group">
      <mat-form-field>
        <mat-label>Filter Location</mat-label>
        <mat-select formControlName="location">
          <mat-option>all</mat-option>
          <mat-option
            *ngFor="let location of productOptions.location"
            [value]="location.value"
          >
            <span [matBadge]="location.counter" matBadgeOverlap="false">
              {{ location.value }}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Filter Product Type</mat-label>
        <mat-select formControlName="productType">
          <mat-option>all</mat-option>
          <mat-option
            *ngFor="let productType of productOptions.productType"
            [value]="productType.value"
          >
            <span [matBadge]="productType.counter" matBadgeOverlap="false">
              {{ productType.value }}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Filter Product Type</mat-label>
        <mat-select formControlName="purchaseType">
          <mat-option>all</mat-option>
          <mat-option
            *ngFor="let purchaseType of productOptions.purchaseType"
            [value]="purchaseType.value"
          >
            <span [matBadge]="purchaseType.counter" matBadgeOverlap="false">
              {{ purchaseType.value }}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div formGroupName="price">
        Price:
        <mat-form-field class="price-field">
          <input matInput formControlName="min" type=number placeholder="min">
        </mat-form-field>
        <mat-form-field class="price-field">
          <input matInput formControlName="max" type=number placeholder="max">
        </mat-form-field>
      </div>
      <section class="checkbox-section">
        <mat-checkbox formControlName="delivery">delivery</mat-checkbox>
      </section>
    </div>
  </form>
</mat-card>
