<div class="content" role="main">
    <div class="card">
      <div class="form-group">
        <label for="search-text">Search Product</label>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="Enter text to search" 
          autofocus>
      </div>
      <ul class="list-group list-group-flush">
        <!-- results of ngFor is passed to appFilter with argument searchText -->
        <li class="list-group-item" *ngFor="let c of products | appFilter: searchText">
          {{c.title}}
        </li>
      </ul>
    </div>
  </div>