<mat-card>
<div class="products-filterable">
  <div class="container text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search for a Product / Service">
      </div>
      <mat-form-field>
        <mat-label>Filter Location</mat-label>
        <mat-select [(value)]="products">
          <mat-option *ngFor="let p of products" [value]="p.location">
            {{ p.location }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Filter Price</mat-label>
        <mat-select [(value)]="products">
          <mat-option *ngFor="let p of products" [value]="p.price">
            {{ p.price }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Filter Delivery Option</mat-label>
        <mat-select [(value)]="products">
          <mat-option *ngFor="let p of products" [value]="p.delivery">
            {{ p.delivery }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Product Title</th>
          <th>Price</th>
          <th>Image</th>
          <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products | filter:searchText">
          <td>{{product.title}}</td>
          <td>{{product.price}}</td>
          <td>
        </td>
          <td>{{product.location}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</mat-card>