<div class="banner">
  <div class="slogan">
    <h1>Notifications</h1>
  </div>
</div>

<mat-card class="main">
  <h2>Give an answer</h2>
  <p>Your answer</p>
  <mat-card class="question-Form" (keyup.enter)="answerQuestion()">
    <form [formGroup]="answerForm">
      <mat-form-field>
        <mat-label></mat-label>
        <input matInput formControlName="text" placeholder="" />
      </mat-form-field>
    </form>
    <button color="primary" mat-button (click)="goBack()">Back</button>
    <button color="primary" mat-flat-button (click)="answerQuestion()">
        Submit
    </button>
  </mat-card>
</mat-card>


