<mat-card class="user-auth-card">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput formControlName="productName" placeholder="Product Name" />
      <mat-error *ngIf="productForm.get('productName').invalid">
        Product name is required and must be longer than 3 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput formControlName="productName" placeholder="Product Name" />
      <mat-error *ngIf="productForm.get('productName').invalid">
        Product name is required and must be longer than 3 characters
      </mat-error>
    </mat-form-field>


    <!-- <mat&#45;form&#45;field appearance="fill"> -->
    <!--   <mat&#45;label>Gender</mat&#45;label> -->
    <!--   <mat&#45;select formControlName="gender"> -->
    <!--     <mat&#45;option *ngFor="let gender of genders" [value]="gender.value"> -->
    <!--       {{ gender }} -->
    <!--     </mat&#45;option> -->
    <!--   </mat&#45;select> -->
    <!-- </mat&#45;form&#45;field> -->

    <!-- <dl> -->
    <!--   <dt>Gender:</dt> -->
    <!--   <dd>{{productForm.get('gender').value}}</dd> -->
    <!--   <dt>Street:</dt> -->
    <!--   <dd>{{productForm.get('street').value}}</dd> -->
    <!--   <dt>City:</dt> -->
    <!--   <dd>{{productForm.get('city').value}}</dd> -->
    <!--   <dt>Country:</dt> -->
    <!--   <dd>{{productForm.get('country').value}}</dd> -->
    <!-- </dl> -->

    <button type="submit" color="primary" mat-flat-button>Register</button>

  </form>
</mat-card>
