<mat-card class="user-auth-card">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [formControl]="userName" placeholder="Username" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        [formControl]="password"
        placeholder="Password"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password (repeat)</mat-label>
      <input
        matInput
        type="password"
        [formControl]="passwordConfirm"
        placeholder="Password (repeat)"
      />
    </mat-form-field>


    <button type="submit" color="primary" mat-flat-button>Register</button>

    <a routerLink="/user/login">If you already have an account already click here to go to login</a>
  </form>
</mat-card>
