<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a href="/" mat-button>
    <mat-icon>storefront</mat-icon>
    <span>Marketplace</span>
  </a>
  <button *ngIf="userService.loggedIn" mat-button aria-label="go to favorite products" (click)="goToFavorites()">
    <mat-icon style="color: #cf73a3;">favorite</mat-icon>
    <span>Favorites</span>
  </button>
  <button *ngIf="userService.loggedIn" mat-button aria-label="go to product list" routerLink="/products/history">
    <mat-icon>shopping_basket</mat-icon>
    <span>Purchase</span>
  </button>
  <button *ngIf="userService.loggedIn" mat-button aria-label="go to your product management dashboard"
    routerLink="/products/manage">
    <mat-icon>gavel</mat-icon>
    <span>Sale</span>
  </button>
  <button *ngIf="(userService.isAdmin && userService.loggedIn)" mat-button aria-label="go to approve list" routerLink="/admin/approve">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Admin</span>
  </button>
  <span class="spacer"></span>
  <button *ngIf="userService.loggedIn" mat-button aria-label="go to your notification inbox"
    routerLink="/notifications">
    <mat-icon [matBadge]="(newNotificationCount|async)?.count" [matBadgeHidden]="(newNotificationCount|async)?.count === 0" matBadgeColor="warn">message</mat-icon>
  </button>
  <button *ngIf="!userService.loggedIn" mat-icon-button aria-label="login button" (click)="goToLogin()">
    Login
  </button>
  <span *ngIf="userService.loggedIn">
    <app-wallet-icon></app-wallet-icon>
  </span>
  <button *ngIf="userService.loggedIn" mat-button [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu">
    <span [innerHTML]="userService.user"></span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="userService.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav #drawer mode="side">Sidenav content</mat-sidenav>
  <mat-sidenav-content class="main-content">
    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
