<mat-toolbar color="primary">
  <button mat-icon-button class="mobile-only" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="nav-buttons-toolbar hide-mobile">
    <ng-content class="whatever" select=".toolbar-nav-buttons"></ng-content>
  </div>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav #drawer mode="over">
    <div class="sidenav-buttons-container">
      <ng-content select=".sidenav-buttons"></ng-content>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
