<mat-card class="product-list">
  <!-- ToDo Button should only be shown if Active Products are shown -->
  <h1>My Product History</h1>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <!-- ToDo this button it should load all posted products -->
    <mat-button-toggle value="Active"> Bought</mat-button-toggle>
    <!-- ToDo this button it should load  products that have been lent by this user-->
    <mat-button-toggle value="Rent">Rent</mat-button-toggle>
    <!-- ToDo this button it should load  all products that have been sold by this user -->
  </mat-button-toggle-group>

  <app-product-item
    *ngFor="let transaction of transactions; index as productId"
    [product]="transaction.Product"
  >
    <div class="action-buttons">
      <button color="primary" mat-flat-button>
        Add Review
      </button>
    </div>
  </app-product-item>
</mat-card>
