<div class="banner">
  <div class="slogan">
    <h1>My Purchase History</h1>
  </div>
</div>
<mat-card class="main" *ngIf="products">
  <!-- ToDo Button should only be shown if Active Products are shown -->

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="All">
    <mat-button-toggle value="All" (click)="resetFilter()">All</mat-button-toggle>
    <mat-button-toggle value="Buy" (click)="setPurchaseTypeFilter('buy')">Bought</mat-button-toggle>
    <mat-button-toggle value="Rent" (click)="setPurchaseTypeFilter('rent')">Rent</mat-button-toggle>
  </mat-button-toggle-group>

  <app-product-item
    *ngFor="let product of products | productFilter: filters; index as productId"
    [product]="product"
  >
  </app-product-item>
</mat-card>
