<mat-card class="product-list">
  <!-- ToDo Button should only be shown if Active Products are shown -->
  <h1>My Product History</h1>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (click)="reloadTransactions()">All</mat-button-toggle>
    <mat-button-toggle value="Sold" (click)="filterSoldHistory('sold')">Bought</mat-button-toggle>
    <mat-button-toggle value="Rent" (click)="filterRentHistory('rent')">Rent</mat-button-toggle>
  </mat-button-toggle-group>

  <app-product-item
    *ngFor="let transaction of transactions; index as productId"
    [product]="transaction.Product"
  >
    <div class="action-buttons">
      <button color="primary" mat-flat-button>
        Add Review
      </button>
    </div>
  </app-product-item>
</mat-card>
