<mat-card class="product-show-detail">
    <section class="title">
        <header>
            <h1> {{ product.title }} </h1>
        </header>
        <hr class="solid">
    </section>
    <section class="photos">
        <!--Display all product pictures in a gallery-->
        <div class="photo-div">
            <img *ngFor="let photo of photos" [src]="photo.imageSource"/>
        </div>
    </section>
    <section class="attributes">

               <!--Display all product attributes-->
            <div *ngIf="product.description">
                <br>
                <h2 >Description</h2>
                <mat-card class="description-text-div">
                    <pre>{{ product.description }}</pre> <!--This has to be like this (on one line), else it inserts unnecessary carriage returns-->
                </mat-card>
            </div>
            <div *ngIf="product.price">
                <h2 >Price</h2>
                <p *ngIf="(product.productType === 'service') || product.purchaseType === 'lend'">{{ product.price }} CHF/day</p>
                <p *ngIf="(product.productType === 'good') && product.purchaseType === 'buy'">{{ product.price }} CHF</p>
            </div>
            <div *ngIf="product.productType">
                <h2 >Type of product</h2>
                <p>
                    {{ product.productType }}
                </p>
            </div>
            <div *ngIf="product.purchaseType">
                <h2 >Purchase type</h2>
                <p>
                    {{ product.purchaseType }}
                </p>
            </div>
            <div *ngIf="showAvailability()">
                <h2 >Availability</h2>
                <p *ngIf="product.availability === true">
                    available
                </p>
                <p *ngIf="product.availability === false">
                    unavailable
                </p>
            </div>
            <div *ngIf="product.location">
                <h2 >Location</h2>
                <p>
                    {{ product.location }}
                </p>
            </div>
            <div *ngIf="product.productType === 'good'">
                <h2 >Delivery</h2>
                <p *ngIf="product.delivery === true">
                    Delivery is possible
                </p>
                <p *ngIf="product.delivery === false">
                    No delivery possible
                </p>
            </div>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Product Details
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

            </mat-expansion-panel>
            <mat-expansion-panel    (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Q&A
                    </mat-panel-title>
                    <mat-panel-description>
                      {{panelOpenState ? 'Hide Questions' : 'Show Questions'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
        
                    <mat-card *ngFor="let question of questions; index as questionId" class="question">
                        {{ question.text }}
                    </mat-card>

                  <button color="primary" mat-flat-button (click)="goToQuestion(product)">
                    Post a Question
                </button>
            </mat-expansion-panel>
        </mat-accordion>

        <ng-content></ng-content>
        <app-approval-buttons *ngIf="pageType === 'show-approval'"></app-approval-buttons>
    </section>
</mat-card>
