<mat-card>
  <mat-card-title>{{ product.title }}</mat-card-title>
  <mat-card-content>
    <section *ngIf="product.description">
      <pre>{{ product.description }}</pre>
      <!--This has to be like this (on one line), else it inserts unnecessary carriage returns-->
    </section>
    <section class="photos">
      <!--Display all product pictures in a gallery-->
      <div *ngIf="photos.length" class="photo-div">
        <img *ngFor="let photo of photos" [src]="photo.imageSource" />
      </div>
      <img *ngIf="!photos.length" src="assets/boat.png" />
    </section>
    <section class="attributes">
      <!--Display all product attributes-->
      <span>Price</span>
      <p *ngIf="product.purchaseType === 'lend'; else elseBlock">
        {{ product.price }} CHF/day
      </p>
      <ng-template #elseBlock>
        <p>{{ product.price }} CHF</p>
      </ng-template>
      <span>Type of product</span>
      <p>
        {{ product.productType }}
      </p>
      <span>Purchase type</span>
      <p>
        {{ product.purchaseType }}
      </p>
      <span *ngIf="showAvailability()">Availability</span>
      <p *ngIf="showAvailability()">
        {{ product.availability ? "available" : "unavailable" }}
      </p>
      <span>Location</span>
      <p>
        {{ product.location }}
      </p>
      <span *ngIf="product.productType === 'good'">Delivery</span>
      <p *ngIf="product.productType === 'good'">
        {{ product.delivery ? "Delivery is possible" : "No Delivery possible" }}
      </p>
    </section>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <ng-content select="button"></ng-content>
  </mat-card-actions>
</mat-card>
