
.photos {
  display: flex;
  margin-top: 27px;
  margin-bottom: 20px;
}

.description-text-div {
  width: 100%;
  max-height: 50vh;
  overflow: auto;
}

pre {
  text-align: justify;
  white-space: pre-wrap;
  font-family: inherit;
}

.photo-div {
  max-height: 320px;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

img {
  white-space: nowrap;
  margin-right: 5px;
  max-height: 300px;
  max-width: 100%;
}

.attributes {
  margin-top: 36px;
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px 24px;
}
.attributes>span {
  font-weight: bold;
}

.mat-card-actions {
  margin-top: 36px;
}
