:host {
  width: 100%;
}
.banner {
  background: url('/assets/banner.jpeg');
  background-size: contain;
}

/* mat-card {
  padding: 12px;
  box-sizing: border-box;
}
 */
mat-form-field {
  margin: 10px 0;
}

textarea {
  min-height: 150px;
  height: auto;
  max-height: 500px;
}

form>button {
  color: primary;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
}

.image-container>img {
  width: 33%;
}

.upload-info-div {
  margin-top: 5px;
  margin-bottom: 10px;
}

.help-div {
  margin: 20px;
}

.help-button {
  align-self: flex-end;
}

.submit-button {
  color: primary;
  margin: 7px;
  min-width: 80px;
  align-self: flex-end;
}
