<mat-card class="product-edit-images">

    <mat-card>
      
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      <br>
  
      <p>In this screen we want to edit the pictures to the product we are editing
        <br>
        <br>However, this step is optional. If we don't have time 
        finish this, it is enough to just modify the Product information.
    </p>
  
      <button color="primary" mat-flat-button >Request Approval</button>
  
    </mat-card>  
  
    
  
   </mat-card>
