
.product-card {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(auto,25%) 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "img info"
    "img action";
}

.infos {
  grid-area: info;
}
.preview {
  grid-area: img;
  max-width: 100%;
}
.action-buttons {
  grid-area: action;
}

.infos>header {
  display: flex;
}
.infos>header>h3 {
  margin-right: 12px;
}

