:host {
  width: 100%;
}

.banner {
  background: url('/assets/banner.jpeg');
  background-size: contain;
}

.delivery-card {
  margin-left: auto;
  margin-right: auto;
}
.rent-card {
  margin-left: auto;
  margin-right: auto;
}


mat-card>button {
  margin-top: 12px;
}

.deliveryToggle {
  margin-top: 12px;
}