
.product-list {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  box-sizing: border-box;
  max-width: 1200px;
  cursor: pointer;
}

.product-list table {
  width: 100%;
}

.action-buttons {
  display: flex;
}
.action-buttons>button {
  margin: 0.4rem;
}

.favorite-section {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 56px;
  color:  #cf73a3;
}
