<mat-card class="product-list">
  <h1>Product List</h1>

  <app-products-filter
    *ngIf="products"
    [products]="products"
    [(filters)]="productFilters"
    [(searchTerm)]="searchTerm"
  ></app-products-filter>
  <app-product-item
    *ngFor="
      let product of products
        | productFilter: productFilters
        | filter: searchTerm;
      index as productId
    "
    [product]="product"
  >
    <div *ngIf="this.userService.loggedIn" class="action-buttons">
      <button color="primary" mat-flat-button (click)="goToBuy(product)">
        Buy
      </button>
      <mat-icon matSuffix (click)="isFavorite = !isFavorite">{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </div>

  </app-product-item>
</mat-card>
