<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title> Questions and Answers </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState ? "Hide Questions" : "Show Questions" }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card *ngFor="let question of questions; index as questionId" class="question">
      <div class="date">
        {{ question.createdAt | date: "short" }}
      </div>
        <h3>Question by "{{question.User.userName}}"</h3>
        <p>{{ question.text }}</p>
      <mat-card *ngIf="question.Answer" class="answer">
        <div class="date">
          {{ question.Answer.createdAt | date: "short" }}
        </div>
        <h3>Answer by "{{question.Answer.User.userName}}"</h3>
        <p>{{ question.Answer.text }}</p>
      </mat-card>
    </mat-card>

    <button color="primary" *ngIf="!isOwnProduct" mat-flat-button (click)="goToEvent.emit()">
      Ask a question
    </button>
  </mat-expansion-panel>
</mat-accordion>