<div class="banner">
  <div class="slogan">
    <h1>My Sales</h1>
  </div>
</div>
<mat-card class="main">

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="All">
    <mat-button-toggle value="All" (click)="reloadProducts()">All</mat-button-toggle>
    <mat-button-toggle value="Active" (click)="filterActiveProducts('active')">Active</mat-button-toggle>
    <mat-button-toggle value="Lent" (click)="filterLentProducts('rent')">Lent</mat-button-toggle>
    <mat-button-toggle value="Sold"  (click)="filterSoldProducts('sold')">Sold</mat-button-toggle>
  </mat-button-toggle-group>

    <!-- ToDo Button should only be shown if Active Products are shown -->
    <mat-card>
      <div class="create-button">
        <button mat-fab color="primary" (click)="goToCreate()">
          <mat-icon>add</mat-icon>
        </button>
        <p class="buttonLabel">Create new Product</p>
      </div>
    </mat-card>
  

  <app-product-item
    *ngFor="let product of filteredProducts; index as productId"
    [product]="product"
  >
    <div class="action-buttons">
      <button color="primary" 
        mat-flat-button 
        (click)="goToEdit(product)"
        matTooltip="edit product">
        EDIT
      </button>
      <button mat-mini-fab color="primary" 
        (click)="delete(product)"
        matTooltip="delete product">
        <mat-icon>delete</mat-icon>
      </button>
      <button 
        *ngIf="product.purchaseType === 'rent' && product.status === 'rent'" 
        mat-mini-fab color="primary" 
        matTooltip="mark product as returned"
        (click)="return(product)">
        <mat-icon>compare_arrows</mat-icon>
      </button>
    </div>
  </app-product-item>
</mat-card>
