<mat-card class="product-list">

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <!-- ToDo this button it should load all posted products -->
    <mat-button-toggle value="Active">Active</mat-button-toggle>
    <!-- ToDo this button it should load  products that have been lent by this user-->
    <mat-button-toggle value="Lent">Lent</mat-button-toggle>
    <!-- ToDo this button it should load  all products that have been sold by this user -->
    <mat-button-toggle value="Sold">Sold</mat-button-toggle>
  </mat-button-toggle-group>


  <!-- ToDo Button should only be shown if Active Products are shown -->
  <mat-card>
  <button mat-fab color="primary" (click)="goToCreate()"><mat-icon>add</mat-icon></button>
  <p>Create new Product</p>
  </mat-card>

  <mat-card>

    <div id="wrapper" *ngFor="let product of products; index as productId">

      <div id="left">
        <img id="preview" src="/assets/angular.png" alt="Angular Logo" >
      </div>

      <div id="middle">
        <h3>
          <a [title]="product.name" >
            {{ product.title }}
          </a>
        </h3>

        <p *ngIf="product.description">
          Description: {{ product.description }}
        </p>
        <br>

      </div>

        <!-- ToDo these buttons should only appear if the user views his active Products-->
      <div id="right">
        <button color="primary" mat-flat-button routerLink="/products/edit-info">edit</button>
        <button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>
  </mat-card>

 </mat-card>

