<mat-card class="product-list">
  <!-- ToDo Button should only be shown if Active Products are shown -->
  <mat-card>
    <button mat-fab color="primary" (click)="goToCreate()">
      <mat-icon>add</mat-icon>
    </button>
    <p>Create new Product</p>
  </mat-card>

  <h1>Product List</h1>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <!-- ToDo this button it should load all posted products -->
    <mat-button-toggle value="Active">Active</mat-button-toggle>
    <!-- ToDo this button it should load  products that have been lent by this user-->
    <mat-button-toggle value="Lent">Lent</mat-button-toggle>
    <!-- ToDo this button it should load  all products that have been sold by this user -->
    <mat-button-toggle value="Sold">Sold</mat-button-toggle>
  </mat-button-toggle-group>


  <app-product-item
    *ngFor="let product of products; index as productId"
    [product]="product"
  >
    <div class="action-buttons">
      <button color="primary" mat-flat-button (click)="goToEdit(product)">
        edit
      </button>
      <button (click)="delete(product)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </app-product-item>
</mat-card>
