:host {
  width: 100%;
}
.banner {
  background: url('/assets/banner.jpeg');
  background-size: contain;
}


.create-button{
  justify-content: center;
  text-align:center;
}

.buttonLabel {
  padding-top: 12px;
}


.action-buttons {
  display: flex;
}
.action-buttons>button {
  margin: 0.4rem;
}
