<div class="banner">
  <div class="slogan">
    <h1>My Notifications</h1>
  </div>
</div>

<mat-card *ngIf="notifications?.length; else noNotification" class="main">
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let notification of notifications; index as notificationId"
      (opened)="notification.panelOpenState = true"
      (closed)="notification.panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title [ngSwitch]="notification.notificationType">
          <span *ngSwitchCase="'sellerNotification'">Sold Item</span>
          <span *ngSwitchCase="'buyerNotification'">Bought/Rent Item</span>
          <span *ngSwitchCase="'pendingNotification'">Item Pending</span>
          <span *ngSwitchCase="'approvalNotification'">Item Approved</span>
          <span *ngSwitchCase="'rejectionNotification'">Item Rejected</span>
          <span *ngSwitchCase="'questionNotification'">Question asked</span>
          <span *ngSwitchCase="'answerNotification'">Question answered</span>
          <span *ngSwitchDefault>Notification</span>
          <mat-chip-list *ngIf="notification.status === 'new'">
            <mat-chip color="warn" selected>new</mat-chip>
          </mat-chip-list>
        </mat-panel-title>
        <mat-panel-description [ngSwitch]="notification.notificationType">
          <span *ngSwitchCase="'sellerNotification'">{{ notification.Transaction.Product.title}}</span>
          <span *ngSwitchCase="'buyerNotification'">{{ notification.Transaction.Product.title}}</span>
          <span *ngSwitchCase="'pendingNotification'">{{ notification.Product.title}}</span>
          <span *ngSwitchCase="'approvalNotification'">{{ notification.Product.title}}</span>
          <span *ngSwitchCase="'rejectionNotification'">{{ notification.Product.title}}</span>
          <span *ngSwitchCase="'questionNotification'">{{ notification.Product.title}}</span>
          <span *ngSwitchCase="'answerNotification'">See answer</span>
          <span>{{ notification.createdAt|date:'short'}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br />

      <div *ngIf="notification.notificationType === 'buyerNotification'">
        <h2 *ngIf="notification.Transaction.purchaseType === 'buy'">
          Oh yeah! You successfully bought a product
        </h2>
        <h2 *ngIf="notification.Transaction.purchaseType === 'rent'">
          Cool! You successfully rent a product
        </h2>
        <h3>Transaction Summary</h3>
        <p>
          Product Name: {{ notification.Transaction.Product.title }}<br />
          Seller:
          <a [href]="'mailto:' + notification.contactEmail">{{
            notification.contactEmail
          }}</a
          ><br />
          Product Price: {{ notification.Transaction.Product.price }}<br />
          <a *ngIf="notification.Transaction.purchaseType === 'rent'">
            Number of Rental Days: {{ notification.Transaction.rentalDays
            }}<br />
          </a>
          Transaction Price: {{ notification.Transaction.price }}<br />
        </p>
      </div>

      <div *ngIf="notification.notificationType === 'sellerNotification'">
        <h2 *ngIf="notification.Transaction.purchaseType === 'buy'">
          Nice! Someone bought one of your products!
        </h2>
        <h2 *ngIf="notification.Transaction.purchaseType === 'rent'">
          Bazinga! Someone just rent one of your products!
        </h2>

        <h3>Transaction Summary</h3>
        <p>
          Product Name: {{ notification.Transaction.Product.title }}<br />
          Buyer:
          <a [href]="'mailto:' + notification.contactEmail">{{
            notification.contactEmail
          }}</a
          ><br />
          Product Price: {{ notification.Transaction.Product.price }}<br />
          <a *ngIf="notification.Transaction.purchaseType === 'rent'">
            Number of Rental Days: {{ notification.Transaction.rentalDays
            }}<br />
          </a>
          Transaction Price: {{ notification.Transaction.price }}<br />
        </p>

        <!--Here the second condition is there to avoid to display unnecessarily the "Please send ..." phrase-->
        <div *ngIf="notification.Transaction.Product.delivery && notification.Transaction.firstName">
          <br />
          <h3>Please send the product to the following address:</h3>
          <p>
            {{ notification.Transaction.firstName }}
            {{ notification.Transaction.lastName }}<br />
            {{ notification.Transaction.streetNr }}<br />
            {{ notification.Transaction.zip }} {{ notification.Transaction.city
            }}<br />
          </p>
        </div>
      </div>

      <div *ngIf="notification.notificationType === 'pendingNotification'">
        <h2>Your Item "{{notification.Product.title}}" is waiting for approval</h2>
        <p>You will be notified as soon as your item has been approved.</p>
      </div>

      <div *ngIf="notification.notificationType === 'approvalNotification'">
        <h2>Your Item "{{notification.Product.title}}" has been approved</h2>
        <p>Your item is now active on the marketplace.</p>
      </div>

      <div *ngIf="notification.notificationType === 'rejectionNotification'">
        <h2>Your Item "{{notification.Product.title}}" has been rejected</h2>
        <p>Sorry that your item has been rejected. Maybe try selling it in the darknet ;-)</p>
      </div>

      <div *ngIf="notification.notificationType === 'questionNotification'">
        <h2>A question has been posted referring to your product: "{{notification.Product.title}}"</h2>
        <p>Question: {{notification.Question.text}}</p>
        <button *ngIf="!notification.Question.Answer" color="primary" mat-flat-button (click)="answerQuestion(notification.Question.id)">
          Answer this question
        </button>
        <p *ngIf="notification.Question.Answer">
          You have already answered this Question: <br>
          {{notification.Question.Answer.text}}
        </p>

      </div>
      <div *ngIf="notification.notificationType === 'answerNotification'">
        <h2>Your Question has been answered</h2>
        <p>Question: {{notification.Question.text}}</p>
        <p>Answer: {{notification.Question.Answer.text}}</p>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</mat-card>

<mat-card #noNotification class="main">
  <p>No notifications yet</p>
</mat-card>
