:host {
  width: 100%;
}
.banner {
  background: url('/assets/banner.jpeg');
  background-size: contain;
}

.action-buttons {
  display: flex;
}
.action-buttons>button {
  margin: 0.4rem;
}
.favorite-section {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 56px;
  color:  #cf73a3;
}
