<div class="banner">
  <div class="slogan">
    <h1>Favorites</h1>
  </div>
</div>


<mat-card class="main">
  <ng-container *ngIf="!favorites?.length">
    <h1>Uuuuups</h1>
    <p>Don't you want to add any favorites?</p>
    <p>You can go to <a routerLink="/">marketplace</a> and mark a product as favorite and it will appear here</p>
  </ng-container>
  <app-product-item
    *ngFor="
      let favorite of favorites
    "
    [product]="favorite.Product"
  >
    <div *ngIf="this.userService.loggedIn" class="action-buttons">
      <button color="primary" mat-flat-button (click)="goToBuy(favorite.Product)">
        {{ favorite.Product.purchaseType === 'buy' ? 'Buy': 'Rent'}}
      </button>
      <section class="favorite-section">
      <mat-icon matSuffix (click)="remove(favorite)">{{
        favorite.deleted ? "favorite_border" : "favorite"
      }}</mat-icon>
    </section>
    </div>
  </app-product-item>
</mat-card>
