/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 30px; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  margin: 0;
  background-color: #eee;
}

.mat-card {
  margin: 20px 0;
}
:host {
  width: 100%;
}
.banner {
  width: 100%;
  height: 15vh;
  min-height: 40px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.slogan {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  display: flex;
  align-items: baseline;
  max-height: 50%;
}
.slogan>h1>img {
  width: 5%;
}

.slogan h1 {
  font-size: 3rem;
  color: #ffffff98;
  margin-left: 0px;
}
.main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-width: 900px) {
  .mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: 900px) {
  .mobile-only {
    display: initial;
  }
  .hide-mobile {
    display: none !important;
  }
}
