<mat-card class="product-list">
    <h1>Here are your products</h1>
    <div *ngFor="let product of products; index as productId">

      <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
          {{ product.title }}
        </a>  
      </h3>
    
      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>

      <p *ngIf="product.availability">
        availability: {{ product.availability }}
      </p>

      <p *ngIf="product.status">
        status: {{ product.status }}
      </p>

      <app-product-alerts
        [product]="product" 
        (notify)="onNotify()">
      </app-product-alerts>
    
    </div>
    

 </mat-card>
  