
form>button {
    margin-left: 30px;
  }
  
  #left {
    float: left;
    width: 20%;
    overflow: hidden;
    height: 80px;
  }
  
  #middle {
    overflow: hidden;
    height: 80px;
    width: 60%;
    display: inline-block;
    margin:0 auto;
  }

  #right {
    float: right;  
    width: 20%;
    overflow: hidden;
    height: 80px;
  }

  #preview {
    max-height: 80px;
    max-width: 80px;
  }
