<mat-card class="message" *ngFor="let notification of notifications; index as notificationId">
    <p> created at: {{notification.createdAt}}</p>
    <p> Product referred: {{notification.Transaction.Product.title}}</p>

    <br>
    <div *ngIf="notification.notificationType === 'buyerNotification'">
        <h1 *ngIf="notification.Transaction.purchaseType === 'buy'">
            Oh yeah! You successfully bought a product
        </h1>
        <h1 *ngIf="notification.Transaction.purchaseType === 'rent'">
            Cool! You successfully rent a product
        </h1>
        <p>You may get in touch with the seller to define where and how you may exchange the product.<br>
            TODO: Add seller's contact information here
            <a [href]="'mailto:' + notification.contactEmail">{{ notification.contactEmail }}</a>
        </p>

    </div>

    <div *ngIf="notification.notificationType === 'sellerNotification'">
        <h1 *ngIf="notification.Transaction.purchaseType === 'buy'">
            Nice! Someone bought one of your products!
        </h1>
        <h1 *ngIf="notification.Transaction.purchaseType === 'rent'">
            Bazinga! Someone just rent one of your products!
        </h1>

        <a *ngIf="!notification.Transaction.Product.delivery" >
            <p>You may get in touch with the buyer to define where and how you may exchange the product.<br>
                TODO: Add buyers's contact information here
                <a [href]="'mailto:' + notification.contactEmail">{{ notification.contactEmail }}</a>
            </p>
        </a>


        <a *ngIf="notification.Transaction.Product.delivery" >
            Please send the product to the following address:<br>
            TODO: ADD ADDRESS HERE
        </a>

    </div>

    <br>
    <a href="mailto:{{notification.buyerEmail}}">{{notification.buyerEmail}}</a>
    <br>

</mat-card>
