<h1 mat-dialog-title>Your order</h1>
<div mat-dialog-content>
  <ul>
    <li>
      Price: {{data.product.price}}$
    </li>
    <li>
      Total: {{totalPrice}}$
    </li>
  </ul>

  <ul *ngIf="data.product.delivery">
    <li>
      Address: {{data.deliveryAddress.firstName}}, {{data.deliveryAddress.lastName}}, {{data.deliveryAddress.streetNr}}, {{data.deliveryAddress.zip}}, {{data.deliveryAddress.city}}
    </li>
  </ul>
</div>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>No Thanks</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true">Pay</button>
</mat-dialog-actions>
