<h1 mat-dialog-title>Your order</h1>
<!-- <div mat-dialog-content>
  blabla:
  <ul>
    <li>
      Price: {{data.product.price}}$
    </li>
    <li>
      Total: {{data.totalPrice}}$
    </li>
  </ul>


</div>

  <h2 mat-dialog-title *ngIf="product.delivery">Delivery address:</h2>
  <mat-dialog-content>{{ data.deliveryAddress }}</mat-dialog-content> -->


<mat-dialog-actions>
  <button mat-button mat-dialog-close>No Thanks</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true">Pay</button>
</mat-dialog-actions>
