<h1 mat-dialog-title>Your order</h1>
  <mat-dialog-content>
    By clicking 'pay' you will accept the following conditions:

    Price per day: {{data.product.price}}
    Rent duration in days: {{data.rentalDays}}
    Total price: {{data.total}}

    Delivered to the following address:
    {{ data.deliveryAddress }}

  </mat-dialog-content>



<mat-dialog-actions>
  <button mat-button mat-dialog-close>No Thanks</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true">Pay</button>
</mat-dialog-actions>
