<div class="banner">
  <div class="slogan">
    <h1>Marketplace</h1>
  </div>
</div>

<mat-card *ngIf="product" class="main">
  <h2>Your question about "{{product.title}}"</h2>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>See Product Details</mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <app-product-show [product]="product"></app-product-show>
  </mat-expansion-panel>


  <mat-card class="question-Form" (keyup.enter)="askQuestion()">
    <p>What's your question to the seller?</p>
    <form [formGroup]="questionForm">
      <mat-form-field>
        <mat-label></mat-label>
        <textarea matInput formControlName="text" placeholder="Your Question"></textarea>
      </mat-form-field>
    </form>
    <button color="primary" mat-button (click)="goBack()">Back</button>
    <button color="primary" mat-flat-button (click)="askQuestion()">
      Submit
    </button>
  </mat-card>

</mat-card>
